input {
    width: 15vw;
}

select {
    width: 15vw;
}

#desc-input {
    width: 30vw;
    height: 5vw;
}

.amount { grid-area: amount;}
.date { grid-area: date; }
.wallet { grid-area: wallet; }
.category { grid-area: category; }
.description { grid-area: description; }

.label{
    box-sizing: border-box;
    border: 3px solid #D6D6D6;
    border-radius: 10px;
}

.trans-container {
    display:   grid ;
    grid:
    'amount date'
    'wallet category'
    'description description';

    resize: both;
  overflow: auto;

}


.flex-container {
    display: flex;
    /* background-color: #f1f1f1; */
}
  
.flex-container > div {
    /* background-color: DodgerBlue; */
    /* color: white; */
    /* width: 400px; */
    margin: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
}

.recent-activity {
    width: 50%;
    border: 3px solid #D6D6D6;
border-radius: 10px;
    
    resize: both;
  overflow: auto;
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 0; 
        text-align: left; 
    }
  
    ul.li {
        list-style: none;
        display: inline-block;
        width: calc(100% / 3);
        height: 120px;
        text-align: left;
    }
}

.add-transaction{
    width: 50%;
    border: 3px solid #D6D6D6;
border-radius: 10px;

    
}

/* .trans-container{ 
    box-sizing: border-box;

position: absolute;
width: 246px;
height: 76px;
left: 36px;
top: 245px;

border: 3px solid #D6D6D6;
border-radius: 10px;
}*/