
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@500&display=swap');

* {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
}

:root {
    --default-title-font: 'IBM Plex Sans', sans-serif;
    --default-body-font: 'IBM Plex Sans', sans-serif;
    --default-cash-font: 'Azeret Mono', monospace;
    --default-background-color: #F6F9F2;
    --default-background-image: url("../resources/images/background-image.svg");
    --default-border-color: #D3D3D3;

    /* Font scaling reference */
    --font-scaling-thin: 100;
    --font-scaling-light: 200;
    --font-scaling-semilight: 300;
    --font-scaling-regular: 400;
    --font-scaling-medium: 500;
    --font-scaling-semibold: 600;
    --font-scaling-bold: 700;
    --font-scaling-darker: 800;
    --font-scaling-black: 900;

    /* TODO: Change this border to none in the final release */
    --temp-border-style: 1px solid black;
    --temp-border-style: none;

    --header-width: 75%;
    --header-width-max: 1000px;

    --delete-button-scaling: 0.6;

    /*colors*/
    --wallet-amount-color: #4495DF;
    --transaction-positive-color: #02AD28;
    --transaction-negative-color: #FF0000;
}

body {
    font-family: var(--default-body-font);
    background-color: var(--default-background-color);
    background-image: var(--default-background-image);
    background-position: -3px -3px;
}

.page-header {
    width: var(--header-width);
    max-width: var(--header-width-max);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: var(--temp-border-style);
}

.page-title {
    font-weight: var(--font-scaling-semibold);
    padding-top: 10px;
    margin: 0;
}


/* i start from here*/ 
.delete-button {
    scale: var(--delete-button-scaling);
    display: flex;
    border: var(--temp-border-style);
}

.delete-button:hover {
    cursor: pointer;
}
 
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; 
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

table {
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word;
    width: 100%;
    justify-content: space-between;
    border: 2px solid var(--default-border-color);
    border-radius: 10px;
    
}

.name {
    width: 70%;
    text-align: left;
    padding-left: 3%;
}

.amount {
    width: 30%;
    text-align: left;
}

.samount {
    border: 2px solid var(--default-border-color);
    border-radius: 50px;
    text-align: center;
    
}
.lname {
    padding-left: 3%;
}

h2{
    font-size: 20px;
    font-weight: var(--font-scaling-medium);
}

h3 {
    font-size: 15px;
}

.dot {
  
  display: flex;
  align-items: right;
  height: 25px;
  width: 25px;
  border: 2px solid var(--default-border-color);
  border-radius: 50%;
}


