.parent-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#yearly-spending {
    grid-area: 1 / 2 / 5 / 5;
    margin-left: 150px;
}

.graph-container {
    grid-area: 3 / 3 / 5 / 5;
}

.generator-container {
    scale: 1.25;
    grid-area: 3 / 5 / 5 / 6;
    border: 2px solid var(--default-border-color);
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

#formItem label {
    display: block;
    text-align: center;
    align-content: center;
    line-height: 150%;
    font-size: .85em;
}

#report-range, #report-wallets, #report-file, #report-form-button {
    width: 250px;
    height: 25px;
    margin-bottom: 15px;
}

#report-chart {
    padding-right: 150px;
    scale: 1.5;
}
  