/**
 * @author: Ashwin Rohit Alagiri Rajan
 */
:root {
	--graph-item-foreground-color: #5cc579;
	--graph-item-background-color: rgba(255, 0, 0, 0.4);
}

.report-root {
	display: flex;
	width: var(--header-width);
	margin: 0 auto;
	font-size: 1.2rem;
	gap: 20px;
	height: 70%;
	justify-content: center;
}

.component {
	height: 100%;
	display: flex;
	flex-direction: column;
}

bar-graph {
	width: 130%;
}

report-generator {
	width: 70%;
}

.component-title {
	font-size: 1.8rem;
	padding-top: 40px;
	padding-bottom: 10px;
	font-weight: var(--font-scaling-semibold);
}

.graph-container {
	display: grid;
	grid-template-columns: 1.75fr 0.25fr;
	grid-template-rows: 10fr 1fr;
	padding: 10px;
	padding-bottom: 0;
	font-weight: var(--font-scaling-regular);
	overflow: hidden;
	height: 100%;
}

#month-axis {
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-transform: uppercase;
}

.bar-graph {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-around;
}

.bar-graph-item {
	display: grid;
	height: 100%;
	width: 7.5% /* 100%/12 = 8.333% maximum, then made into 7.5 for some breathing space */
}

.bar-graph-item .foreground {
	margin-top: auto;
	margin-bottom: 0;
	background-color: var(--graph-item-foreground-color);
	grid-column: 1/2;
	grid-row: 1/2;
	border-radius: 5px 5px 0 0;
}

.bar-graph-item .background {
	margin-top: auto;
	margin-bottom: 0;
	background-color: var(--graph-item-background-color);
	grid-column: 1/2;
	grid-row: 1/2;
	border-radius: 5px 5px 0 0;
}

#amount-axis {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

#amount-axis > div {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.generator {
	display: flex;
	flex-direction: column;
}

.generate-report-form {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 1.2rem;
	justify-content: space-between;
}

.generate-report-form > div {
	width: 100%;
}

.generate-report-form select {
	appearance: none;
	border: 2px solid var(--default-border-color);
	border-radius: 10px;	
	padding: 1rem;
	font-size: 1.1rem;
	margin: 0.7rem 0 2rem 0;
	width: 100%;
}

.generate-report-form select:hover {
	cursor: pointer;
}

.generate-report-form select:focus {
	outline: none;
	border-color: #333;
}

.generate-report-form > button {
	appearance: none;
	border: none;
	border-radius: 10px;
	padding: 1rem;
	font-size: 1.1rem;
	margin-top: auto;
	background-color: #5cc579;
	color: white;
}

.generate-report-form > button:hover {
	cursor: pointer;
	background-color: #4aa66a;
}