:root {
	--graph-item-foreground-color: #5cc579;
	--graph-item-background-color: rgba(255, 0, 0, 0.4);
}

.report-grid-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: baseline;
	gap: 0 75px;
	margin: 0 auto;
	overflow: hidden;
	zoom: 1.5;
}

.report-grid-wrapper > div {
	display: flex;
	/* margin-right: 0px;
	flex-basis: auto; */
}

.graph-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.generator-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.graph-container, .generator-container {
	margin: 1rem;
}

.generator-glassbox {
	scale: 1;
	border: 2px solid var(--default-border-color);
	border-radius: 10px;
	backdrop-filter: blur(10px);
} 

canvas {
	width: 35%;
	max-width: 750px;
}

#report-chart {
	scale: 1;
}

label {
	display: block;
	text-align: left;
	align-content: center;
	margin-bottom: 5px;
	margin-left: 15px;
	margin-top: 10px;
	font-weight: bold;
	line-height: 150%;
	font-size: .85em;
}

#report-range, #report-wallets, #report-file {
	width: 250px;
	height: 35px;
	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 15px;
	border-radius: 4px;
	text-align: center;
	border: 1px solid grey;
	color: black;
}

#report-range:hover, #report-wallets:hover, #report-file:hover {
	cursor: pointer;
}

#report-form-button {
	transition-duration: 0.6s;
	width: 100px;
	height: 35px;
	border-radius: 4px;
	opacity: 0.5;
	border: 1px solid #8ACFED;
	color: white;
	background-color: #8ACFED;
	/* align-self: center; */
	/* text-align: center; */
	display: block;
	margin: 0 auto;
	margin-bottom: 15px;
}

#report-form-button:hover {
	background-color: #31a7da;
	color: black;
	cursor: pointer;
}

#graph-container {
	display: grid;
	grid-template-columns: 1.75fr 0.25fr;
	width: 500px;
	padding: 10px;
	padding-bottom: 0;
	font-weight: var(--font-scaling-light);
	overflow: hidden;
	font-size: 0.9rem;
}

#month-axis {
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-transform: uppercase;
}

#bar-graph {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 1fr;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-around;
}

.bar-graph-item {
	display: grid;
	height: 100%;
	width: 95%;
}

.bar-graph-item .foreground {
	/* TODO: Make the background color of this object as green matching the figma green */
	margin-top: auto;
	margin-bottom: 0;
	background-color: var(--graph-item-foreground-color);
	grid-column: 1/2;
	grid-row: 1/2;
	border-radius: 5px 5px 0 0;
}

.bar-graph-item .background {
	margin-top: auto;
	margin-bottom: 0;
	background-color: var(--graph-item-background-color);
	grid-column: 1/2;
	grid-row: 1/2;
	border-radius: 5px 5px 0 0;
}

#amount-axis {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

#amount-axis > div {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}