/**
 * @author Ashwin Rohit Alagiri Rajan
 */
.user-settings {
    width: 700px;
    margin: 2.5rem auto;
}

.settings-title {
    margin: 1rem;
    margin-left: 0;
    font-size: 1.9rem;
}

.setting-inner-title {
    font-size: 1.5rem;
    color: grey;
    font-weight: var(--font-scaling-semibold);
    margin-bottom: 1rem;
}

.setting-component {
    margin-bottom: 1rem;
    padding: 0.7rem;
    padding-bottom: 1.5rem;
}

.setting-component p {
    margin-bottom: 0.5rem;
    font-weight: var(--font-scaling-regular);
    font-size: 1.3rem;
}

.password-input-field {
    appearance: none;
    border: 3px solid var(--default-border-color);
    border-radius: 10px;
    padding: 0.5rem 0.5rem;
    width: 70%;
    font-size: 2rem;
}

.password-input-field:focus {
	outline: none;
	border-color: #333;
}

.default-page-chooser {
    background-color: none;
    padding: 1rem;
    border: 3px solid var(--default-border-color);
    border-radius: 7px;
    font-family: inherit;
    font-size: 1.2rem;
    width: 30%;
}

.default-page-chooser:focus {
	outline: none;
	border-color: #333;
}

.default-page-chooser:hover {
	cursor: pointer;
}

.button-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.button-holder>button {
    padding: 1rem;
    font-size: 1.2rem;
    font-family: inherit;
    background-color: rgba(0, 150, 0, 0.5);
    color: white;
    border: none;
    width: 10rem;
}

.button-holder > button:hover {
    cursor: pointer;
    scale: 1.05;
    transition: scale .2s ease;
}

#reset-button {
    background-color: #ea918f;
}