:root {
    --wallet-amount-color: #4495DF;
    --transaction-positive-color: #02ad27a4;
    --transaction-negative-color: rgba(255, 0, 0, 0.7);
}

body {
	overflow: hidden;
}

.back-button {
    scale: var(--logout-button-scaling);
    border: none;
	border-radius: 100px;
	padding: 15px;
}

.back-button:hover {
	scale: var(--logout-button-scaling);
	border: 5px solid var(--default-border-color);
	border-radius: 100px;
	cursor: pointer;
	padding: 10px;
	transition: all .2s ease;
}

.page-title {
    padding: 0;
    margin-right: auto;
}

.delete-button {
	padding: 15px;
	border: none;
	border-radius: 100px;
}

.delete-button:hover {
	cursor: pointer;
	border: 5px solid rgb(234, 94, 96);
	border-radius: 100px;
	padding: 10px;
	transition: all .2s ease;
}

.delete-button:active {
	cursor: pointer;
	scale: 0.6;
	border: 5px solid rgb(234, 94, 96);
	border-radius: 100px;
	padding: 10px;
	transition: all .2s ease;
}

.wallet-details-root {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: var(--header-width);
	margin-top: 5rem;
	height: 70%;
	gap: 5%;
}

.component {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.component-title {
    padding: 10px 0 5px 0;
    font-weight: var(--font-scaling-medium);
	font-size: 1.7rem;
}

.recent-transactions-table {
	display: flex;
	height: 90%;
    font-size: 1.5rem; /*added font size*/
    text-align: left; /*amount col needs to be left alligned*/
    flex-direction: column;
}

.recent-transactions-table > tbody {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: left;
	overflow-y: scroll;
	height: 100%;
}

.recent-transactions-table tr {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 2rem;
	padding: 5px;
} 

.recent-transactions-table > thead {
	border-bottom: 3px solid var(--default-border-color);
}

.recent-transactions-table > tbody > tr {
	display: flex;
	align-items: center;
}

.recent-transactions-table > tbody > tr:hover {
	cursor: pointer;
	background-color: var(--default-border-color);
}

.recent-transactions-table > tbody::-webkit-scrollbar {
	width: 0 !important;
}

.recent-transactions-table tr > *:not([data-kind="amount"]) {
    font-weight: var(--font-scaling-regular);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#recent-transactions-name-title,
#recent-transactions-amount-title {
    color: black;
	font-weight: var(--font-scaling-semibold);
}

[data-kind="amount"] {
    color: var(--wallet-amount-color);
    font-family: var(--default-cash-font);
    overflow: hidden !important;
}

[data-transaction-kind="positive"] {
    color: var(--transaction-positive-color) !important;
}

[data-transaction-kind="negative"] {
    color: var(--transaction-negative-color) !important;
}

#spending-statistics #monthly-target-statistic {
    color: rgba(0, 0, 0, 0.3);
}

#spending-statistics {
	display: flex;
	align-items: flex-start;
    flex-direction: column;
    margin-bottom: 30%;
}

.statistic-item {
    margin-bottom: 5%;
	font-size: 1.3rem;
}

.statistic-item > h2:not(.component-title) {
    display: inline;
    font-weight: var(--font-scaling-medium);
}

.statistic-item > .component-title {
    padding: 0;
}

/* This is for the div that contains both the title and the inner settings box */
#settings-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	gap: 5px;
}

/* This is the inner settings box that's inside of the previous settings box */
#settings-box > .settings-box {
    display: flex;
    padding: 5px 10px;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}

.statistic-item .setting-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.setting-item #target-section-title {
	white-space: nowrap;
	padding-right: 10px;
}

.statistic-item .setting-item:nth-child(1) {
	margin-bottom: 5px;
}

.statistic-item .setting-item .setting-title {
    font-weight: var(--font-scaling-medium);
}

.statistic-item .setting-item .setting-input {
    border: none;
    color: inherit;
    font-size: 1.4rem;
    text-align: center;
	font-family: var(--default-amount-font);
}

.statistic-item .setting-item .setting-input:focus,
.statistic-item .setting-item .setting-input:active {
    outline: none;
	border-color: #777;
}

#include-total-input {
    appearance: none;
    width: 1.7rem;
    outline: 3px solid var(--default-border-color);
    outline-offset: 2px;
    height: 1.3rem;
    border-radius: 100px;
}

#include-total-input:hover {
	cursor: pointer;
}

#include-total-input:checked {
    background-color: var(--wallet-amount-color);
    transition: background-color .1s linear;
}


#monthly-target-input-wrapper {
    border: 3px solid var(--default-border-color);
    border-radius: 100px;
    padding: 5px 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;	
	font-family: var(--default-amount-font);
}

#monthly-target-input-wrapper:has(input:focus) {
	border-color: #777;
}

@media screen and (max-width: 768px) {
    .wallet-details-root {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 80%;
    }
    .component {
        width: 95%;
        margin-bottom: 20px;
    }
    body {
        height: auto;
        padding-bottom: 20px;
    }
}