:root {
    --wallet-amount-color: #4495DF;
    --transaction-positive-color: #02AD28;
    --transaction-negative-color: #FF0000;
}

.hidden {
    display: none !important;
}

#wallets-grid-wrapper {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wallets-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 2.1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    overflow: hidden;
}

.wallet-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
    height: 220px;
    min-width: 220px;
}

.glass-box:hover {
    cursor: pointer;
    border-color: var(--wallet-amount-color);
    scale: 1.05;
    transition: border-color .2s linear, scale .08s linear;
    filter: blur(0);
}

.glass-box:active {
    scale: 1;
}

.wallet-name {
    font-weight: var(--font-scaling-regular);
    margin: 0;
    font-size: 2rem;
}

.wallet-amount {
    font-family: var(--default-cash-font);
    font-weight: var(--font-scaling-medium);
    font-size: 2rem;
    color: var(--wallet-amount-color);
    margin: 0;
}

.wallet-last-transaction {
    font-size: 1.1rem;
    margin: 0;
}

.wallet-last-transaction[data-transaction-type="positive"] {
    color: var(--transaction-positive-color);
}

.wallet-last-transaction[data-transaction-type="negative"] {
    color: var(--transaction-negative-color);
}

.wallet-last-transaction > strong {
    color: black;
}

#new-wallet > img {
    scale: 0.75;
}

#new-wallet > .wallet-name {
    color: grey;
}

@media screen and (max-width: 768px) {
    #wallets-grid {
        grid-template-columns: repeat(1, 0.7fr);
    }
}