.form-container {
    width: 300px;
    padding: 10px;
    padding-bottom: 0;
    background-color: rgba(246,249,243, 1);
}

.form-container:hover {
    scale: 1;
    border-color: var(--default-border-color);
}

.form-popup {
    display: none;
    position: absolute;
    top: 30%;
    left: calc(50% - 150px);
    z-index: 9;
}
.form-container .btn {
    background-color: rgba(0, 200, 0, .5);
    color: black;
    font-size: 1.1rem;
    padding: 16px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

.form-container .cancel {
    background-color: rgba(255, 0, 0, 0.5);
    /* color: white; */
}

.form-container input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: 2px solid var(--default-border-color);
    border-radius: 10px;
    color: black;
    font-weight: var(--font-scaling-regular);
    background-color: rgba(255, 255, 255, 0.3);
    font: inherit;
    font-size: 1.2rem;
}
  
/* When the inputs get focus, do something */  
.form-container input:focus {
    border-color: var(--wallet-amount-color);
    outline: none;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

.form-container > label {
    font-size: 1.2rem;
}
