.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
.form-popup {
    display: none; /*Have form be hidden*/
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

.form-container .cancel {
    background-color: red;
}

.form-container input[type=text], .form-container input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
  
/* When the inputs get focus, do something */  
.form-container input[type=text]:focus, .form-container input[type=number]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
