:root {
    --wallet-amount-color: #4495DF;
    --transaction-positive-color: #02ad27a4;
    --transaction-negative-color: rgba(255, 0, 0, 0.7);
}

body {
	overflow: hidden;
}

.back-button {
    scale: var(--logout-button-scaling);
    border: none;
    padding-top: 7px;
}

.page-title {
    padding: 0;
    margin-right: auto;
}


/* .details-root { ... } */
.wallet-details-root {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: var(--header-width);
	margin-top: 2rem;
	height: 70%;
}

.component {
    display: flex;
    flex-direction: column;
    margin: 0 2.5%;
	font-size: 1.2rem;
	height: 100%;
}

.component-title {
    padding: 10px 0 5px 0;
    font-weight: var(--font-scaling-medium);
}

.recent-transactions .component-title {
	height: 10%;
}

.recent-transactions-table {
	display: flex;
	padding: 5px 10px;
	height: 90%;
    width: 40%;
}

.recent-transactions-table > tbody {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: left;
	overflow-y: scroll;
	height: 100%;
}

.recent-transactions-table tr {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 2rem;
}

.recent-transactions-table > tbody::-webkit-scrollbar {
	width: 0 !important;
}

.recent-transactions-table tr > *:not([data-kind="amount"]) {
    font-weight: var(--font-scaling-semibold);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #777;
}

#recent-transactions-name-title,
#recent-transactions-amount-title {
    color: black;
}

[data-kind="amount"] {
    color: var(--wallet-amount-color);
    font-family: var(--default-cash-font);
    overflow: hidden !important;
}

[data-transaction-kind="positive"] {
    color: var(--transaction-positive-color) !important;
}

[data-transaction-kind="negative"] {
    color: var(--transaction-negative-color) !important;
}

#spending-statistics #monthly-target-statistic {
    color: rgba(0, 0, 0, 0.3);
}

#spending-statistics {
	display: flex;
	align-items: flex-start;
	/* justify-content: space-between; */
    justify-content: space-evenly;

    position: fixed;
    /* margin-top: 275px; */
    margin-top: 14.5%;
    left: 70%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: -5px;
    z-index: 100;
}

.statistic-item {
	font-size: 1.2rem;
}

.statistic-item > h2:not(.component-title) {
    display: inline;
    font-weight: var(--font-scaling-medium);
}

.statistic-item > .component-title {
    padding: 0;
}

.statistic-item > .settings-box {
    display: flex;
    padding: 5px 10px;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}

.statistic-item .setting-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.statistic-item .setting-item:nth-child(1) {
	margin-bottom: 5px;
}

.statistic-item .setting-item .setting-title {
    font-weight: var(--font-scaling-medium);
}

.statistic-item .setting-item .setting-input {
    border: none;
    color: #777;
    font-size: 1.1rem;
    font-weight: var(--font-scaling-semibold);
    text-align: right;
}

.statistic-item .setting-item .setting-input:focus,
.statistic-item .setting-item .setting-input:active {
    outline: none;
}

#include-total-input {
    appearance: none;
    width: 1.5rem;
    outline: 2px solid var(--default-border-color);
    outline-offset: 2px;
    height: 1rem;
    border-radius: 100px;
}

#include-total-input:checked {
    background-color: var(--wallet-amount-color);
    transition: background-color .1s linear;
}

#monthly-target-input-wrapper {
    border: 2px solid var(--default-border-color);
    border-radius: 100px;
    padding: 5px 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
	width: 60%;
}

@media screen and (max-width: 768px) {
    .wallet-details-root {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 80%;
    }
    .component {
        width: 95%;
        margin-bottom: 20px;
    }
    body {
        height: auto;
        padding-bottom: 20px;
    }
}